
body{
background-image: linear-gradient(90deg,#fcfcfc ,#6a6c6e);
background-size: cover;
padding:0;
margin:0;
font-family: serif;
}
div{
    margin:auto;
    margin-top: 160px;
    background-color: rgb(238, 236, 236);
    width:fit-content;
    border-radius:30px 30px 10px 10px;
}
h1{
    text-align: center;
    font-size: 40px;
}

.btn:hover{
    background-color:white ;
}
input{
    margin: 10px;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 10px;
    padding-left: 10px;
}
.btn{
    cursor: pointer;
    border: 2px solid black;
border-radius: 5px;
    padding: 0 10px;
}


ul{
    margin:10px;
    list-style: none;
    padding:0;
    overflow-y: auto;
}
li{
    border-radius: 5px;
    padding-left: 10px;
   margin-bottom: 10px;
  
    background-color: grey;
    font-size: 25px;
    color: white;
    border-bottom: 2px solid gray;

}
li:nth-child(odd){
    background-color: gray;
}
li:hover{
    background-color: white;
    color: black;
}
.removebtn{
    position: relative;
    top: 0;
    float: right;
    padding:0 10px;
}
.removebtn:hover{
    cursor: pointer;
    border-radius: 5px;
    background-color: rgb(248, 215, 215);
}

.text{
  padding:0 10px;
    float:right; 
}

.hide{
    display: none;
}